`customer_train.csv`, which is a subset of their entire customer dataset, so we will work on it to enhance much more efficient storage solution. The dataset contains anonymized student information, and whether they were looking for a new job or not during training:

| Column                   | Description                                                                      |
|------------------------- |--------------------------------------------------------------------------------- |
| `student_id`             | A unique ID for each student.                                                    |
| `city`                   | A code for the city the student lives in.                                        |
| `city_development_index` | A scaled development index for the city.                                         |
| `gender`                 | The student's gender.                                                            |
| `relevant_experience`    | An indicator of the student's work relevant experience.                          |
| `enrolled_university`    | The type of university course enrolled in (if any).                              |
| `education_level`        | The student's education level.                                                   |
| `major_discipline`       | The educational discipline of the student.                                       |
| `experience`             | The student's total work experience (in years).                                  |
| `company_size`           | The number of employees at the student's current employer.                       |
| `company_type`           | The type of company employing the student.                                       |
| `last_new_job`           | The number of years between the student's current and previous jobs.             |
| `training_hours`         | The number of hours of training completed.                                       |
| `job_change`             | An indicator of whether the student is looking for a new job (`1`) or not (`0`). |

In [1]:
# Import necessary libraries
import pandas as pd

# Load the dataset
ds_jobs = pd.read_csv("customer_train.csv")

# View the dataset
ds_jobs.head()

C:\Anaconda\lib\site-packages\pandas\core\computation\expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

,student_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,job_change
0,8949,city_103,0.920,Male,Has relevant experience,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,1.0
1,29725,city_40,0.776,Male,No relevant experience,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,0.0
2,11561,city_21,0.624,NaN,No relevant experience,Full time course,Graduate,STEM,5,NaN,NaN,never,83,0.0
3,33241,city_115,0.789,NaN,No relevant experience,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,1.0
4,666,city_162,0.767,Male,Has relevant experience,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,0.0

In [2]:
# Create a copy of ds_jobs for transforming
ds_jobs_transformed = ds_jobs.copy()

In [3]:
ds_jobs_transformed['relevant_experience'].value_counts()

relevant_experience
Has relevant experience    13792
No relevant experience      5366
Name: count, dtype: int64

In [4]:
ds_jobs_transformed['job_change'].value_counts()

job_change
0.0    14381
1.0     4777
Name: count, dtype: int64

In [5]:
# Creating a dic to map the original values to 0 & 1
new_category_for_relevant_experience = {
    'Has relevant experience': True,
    'No relevant experience': False
}
new_category_for_job_change = {
    '1.0': True,
    '0.0': False
}

# Convert to category dtype if not already
ds_jobs_transformed['relevant_experience'] = ds_jobs_transformed['relevant_experience'].astype('category')
ds_jobs_transformed['job_change'] = ds_jobs_transformed['job_change'].astype('category')

# Rename categories using the mapping
ds_jobs_transformed['relevant_experience'] = ds_jobs_transformed['relevant_experience'].cat.rename_categories(new_category_for_relevant_experience)
ds_jobs_transformed['job_change'] = ds_jobs_transformed['job_change'].cat.rename_categories(new_category_for_job_change)

# Convert its dtype to bool
ds_jobs_transformed['relevant_experience'] = ds_jobs_transformed['relevant_experience'].astype('bool')
ds_jobs_transformed['job_change'] = ds_jobs_transformed['relevant_experience'].astype('bool')
ds_jobs_transformed

,student_id,city,city_development_index,gender,relevant_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,training_hours,job_change
0,8949,city_103,0.920,Male,True,no_enrollment,Graduate,STEM,>20,NaN,NaN,1,36,True
1,29725,city_40,0.776,Male,False,no_enrollment,Graduate,STEM,15,50-99,Pvt Ltd,>4,47,False
2,11561,city_21,0.624,NaN,False,Full time course,Graduate,STEM,5,NaN,NaN,never,83,False
3,33241,city_115,0.789,NaN,False,NaN,Graduate,Business Degree,<1,NaN,Pvt Ltd,never,52,False
4,666,city_162,0.767,Male,True,no_enrollment,Masters,STEM,>20,50-99,Funded Startup,4,8,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19153,7386,city_173,0.878,Male,False,no_enrollment,Graduate,Humanities,14,NaN,NaN,1,42,False
19154,31398,city_103,0.920,Male,True,no_enrollment,Graduate,STEM,14,NaN,NaN,4,52,True
19155,24576,city_103,0.920,Male,True,no_enrollment,Graduate,STEM,>20,50-99,Pvt Ltd,4,44,True
19156,5756,city_65,0.802,Male,True,no_enrollment,High School,NaN,<1,500-999,Pvt Ltd,2,97,True
19157,23834,city_67,0.855,NaN,False,no_enrollment,Primary School,NaN,2,NaN,NaN,1,127,False

In [6]:
# Chcking for dtypes of our columns!
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  bool
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  bool
dtypes: bool(2), float64(1), int64(2), object(9)
memory usage: 1.8+ MB

In [7]:
# Converting columns with dtype int64 to int32
ds_jobs_transformed['student_id'] = ds_jobs_transformed['student_id'].astype('int32')
ds_jobs_transformed['training_hours'] = ds_jobs_transformed['training_hours'].astype('int32')

In [8]:
# Converting columns with dtype float to float16
ds_jobs_transformed['city_development_index'] = ds_jobs_transformed['city_development_index'].astype('float16')

In [9]:
# Listing the columns with ordinal categorical data
ordered_cats = ['enrolled_university', 'education_level', 'experience', 'company_size', 'last_new_job', 'city', 'gender', 'major_discipline', 'company_type']

# Converting its dtype to ordered categories
for col in ordered_cats:
    ds_jobs_transformed[col] = ds_jobs_transformed[col].astype('category')
    ds_jobs_transformed[col] = ds_jobs_transformed[col].cat.as_ordered()

In [10]:
ds_jobs_transformed['company_size'].value_counts()

company_size
50-99        3083
100-499      2571
10000+       2019
10-49        1471
1000-4999    1328
<10          1308
500-999       877
5000-9999     563
Name: count, dtype: int64

In [11]:
ds_jobs_transformed['experience'].value_counts()

experience
>20    3286
5      1430
4      1403
3      1354
6      1216
2      1127
7      1028
10      985
9       980
8       802
15      686
11      664
14      586
1       549
<1      522
16      508
12      494
13      399
17      342
19      304
18      280
20      148
Name: count, dtype: int64

In [12]:
# Filtering the dataset with the required filters we asked to do!
large_experience = ['10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '>20']
large_sizes = ['1000-4999', '5000-9999', '10000+']
ds_jobs_transformed = ds_jobs_transformed[
    (ds_jobs_transformed['experience'].isin(large_experience)) &
    (ds_jobs_transformed['company_size'].isin(large_sizes))
]

In [13]:
# Check the memory usage for the old version of dataset
ds_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19158 entries, 0 to 19157
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              19158 non-null  int64
 1   city                    19158 non-null  object
 2   city_development_index  19158 non-null  float64
 3   gender                  14650 non-null  object
 4   relevant_experience     19158 non-null  object
 5   enrolled_university     18772 non-null  object
 6   education_level         18698 non-null  object
 7   major_discipline        16345 non-null  object
 8   experience              19093 non-null  object
 9   company_size            13220 non-null  object
 10  company_type            13018 non-null  object
 11  last_new_job            18735 non-null  object
 12  training_hours          19158 non-null  int64
 13  job_change              19158 non-null  float64
dtypes: float64(2), int64(2), object(10)
memory usage: 2.0+ MB

In [14]:
# Check the memory usage for the new version of the dataset and compare it with the old one!
ds_jobs_transformed.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2201 entries, 9 to 19143
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   student_id              2201 non-null   int32
 1   city                    2201 non-null   category
 2   city_development_index  2201 non-null   float16
 3   gender                  1821 non-null   category
 4   relevant_experience     2201 non-null   bool
 5   enrolled_university     2185 non-null   category
 6   education_level         2184 non-null   category
 7   major_discipline        2097 non-null   category
 8   experience              2201 non-null   category
 9   company_size            2201 non-null   category
 10  company_type            2144 non-null   category
 11  last_new_job            2184 non-null   category
 12  training_hours          2201 non-null   int32
 13  job_change              2201 non-null   bool
dtypes: bool(2), category(9), float16(1), int32(2)
memory usage: 69.5 KB